@keyframes left {
    0%{
           position: relative;
           left:-250px;
    }
    100%
    {
        position: relative;
        left:0px;
    }
}
@keyframes trans {
    0%{
        opacity: 0;
    
    }
    100%
    {
      opacity: 1;
      
    }
}